
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@300&family=Rubik&display=swap');
/* :root{
  --background: #f2eee3 ;
  --check: #000 ;
  --ball: #f2eee3 ;
} */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  background-color: #f2eee3 ;
  align-items: center;
  height:100%;
  /* font-family: ; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
 p {
  display: flex;
  align-items: center;
 }
.site-container{
  min-height: 100vh;
}

header{
  padding: 1rem;
}

header a {
  color:whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
  flex: 3;
}

/* products aka flowers */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 5px black solid;
  margin: 1rem;
}

.product-image {
  height: 679px;
  width: 829px;

}


.prod-info{
  padding: 1rem;

}


.img-large {
  display: flex;
  justify-content: center;
  
}

.logo-img{
  display: flex;
  align-items: center;
  height: 250px;
  padding: 25px;
}

.small-container{
  max-width: 800px;
}


/* flowers in about  */
.flower-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75%;
  border: 1rem solid gold;
}

.flower-img img {
  width: 150px;
  background-size: cover;
  border-radius: 10px;
}

.flower-img:hover {
  z-index: 10;
  transform: scale(1.3);
  transition: all 0.4s;
}

.flower-img:hover ~ img {
  box-shadow: 10px 10px 10px lightcoral;
}

/* subsribe section */
.subscribe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  background-image: url(https://img.freepik.com/free-vector/watercolor-abstract-floral-background_52683-134424.jpg);
  width: 628px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}

.subscribe-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 18px;
}

.subscribe-tagline{
  max-width: 450px;
  text-align: center;
  margin-bottom: 18px;
}

.form {
  margin-bottom: 25px;
}

.form-email{
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #cad3d8;
  width: 431px;
  font-size: 18px;
  color: #0f121F;
}

.form-email:focus{
  outline: 1px solid #3c9f;
}

.form-botton{
  background: #3d9f;
  padding: 10px;
  border: none;
  width: 244px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
}

.form-botton:hover{
  box-shadow: 010pz 20px rgba(61, 159, 255, 0.7);
}

.notice{
  width: 345px;
}

/* search bar comment box */
.comment-input-container {
  text-align: center;
}

.rounded-input {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
}

.styled-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #3498db; 
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}
 /* signup screen form */

 .rounded-form {
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
}

.gold-border:focus {
  border: 2px solid gold;
  outline: none;
}

.rounded-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: gold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: darkgoldenrod;
}

/* dark mode  did not work properly */ 
/* .dark{
  --background: #000;
  --check: #ffeee3;
  --ball:#000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode{
  display: flex;
  width: 10%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background: var(--background);
  transition: .5s;
}

.checkbox:checked+.label .ball{
  transform: translateX(24px);
}

.checkbox{
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background: var(--check);
  border-radius: 50px;
  position: relative;
}

.ball{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22x;
  height: 22px;
  background-color: var(--ball);
  border-radius: 50%;
  transition: transform 0.2s linear;
} */